<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(#{msg.region-detail.title})"></head>

<body class="d-flex flex-column h-100">

<header th:replace="fragments/header :: header"></header>

<main class="detail-page container py-4">
    <div class="detail-card">
        <h1 th:text="#{msg.region-detail.title}">Detalles de la Región</h1>

        <div class="mb-3">
            <label class="form-label font-weight-bold" th:text="#{msg.region-detail.id}">ID</label>
            <p th:text="${region.id}" class="form-control-static"></p>
        </div>

        <div class="mb-3">
            <label class="form-label font-weight-bold" th:text="#{msg.region-detail.code}">Código</label>
            <p th:text="${region.code}" class="form-control-static"></p>
        </div>

        <div class="mb-3">
            <label class="form-label font-weight-bold" th:text="#{msg.region-detail.name}">Nombre</label>
            <p th:text="${region.name}" class="form-control-static"></p>
        </div>

        <div class="d-flex gap-2 mt-4">
            <a th:href="@{/regions/edit(id=${region.id})}" class="btn btn-warning" th:text="#{msg.region-detail.edit}">Editar</a>

            <a th:href="@{/regions}" class="btn btn-secondary" th:text="#{msg.region-detail.returnback}">Volver</a>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>