<!-- fragments/scripts.html -->
<div th:fragment="scripts" xmlns:th="http://www.thymeleaf.org">
    <!-- Bootstrap con Popper incluido -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEFoGClyvwx9Hj09JcYn3nv7wiPVLz7YYWJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>

    <!-- Script personalizado -->
    <script th:src="@{/js/scripts.js}" xmlns:th="http://www.thymeleaf.org"></script>
</div>